.profile {
    font-family: 'Inter','Arial', sans-serif;
    display: flex;
    margin-bottom: 51px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 785px) {
    .profile {
      flex-direction: column;
    }

}

@media screen and (max-width: 590px) {
  .profile {
    margin-bottom: 36px;
  }

}