.profile__btn-add {
    width: 150px;
    height: 50px;
    background: none;
    background-image:url(../../../images/Add-Button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease;
}

.profile__btn-add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 785px) {
    .profile__btn-add {
        width: 100%;
    }
}