.popup__close-btn {
    position: absolute;
    top: -45px;
    right: -40px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease;
}

.popup__close-btn:hover {
    opacity: 0.6;
}