.popup__close-btn {
    width: 32px;
    height: 32px;
    background: none;
    background-image:url(../../../images/Close-btn.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -45px;
    right: -40px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease;
}

.popup__close-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 535px) {
    .popup__close-btn {
        width: 20px;
        height: 20px;
        right: 5px;
    }
}